.root {
  li {
    display: inline-block;

    a {
      color: #1efe61;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 42px;
      border: 1px solid #1efe61;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;

      &:hover {
        background-color: #1efe61;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #1efe61;
        color: #fff;
      }
    }
  }
}
